<%- include('partials/header') %>

<section>
    <h2>Project Categories</h2>

    <ul class="categories">
        <li>Environmental</li>
        <li>Educational</li>
        <li>Community Service</li>
        <li>Health and Wellness</li>
    </ul>

</section>

<%- include('partials/footer') %>