<%- include('partials/header') %>

<section>
    <h2>Service Projects</h2>

    <div class="card">
        <h3>Neighborhood Cleanup</h3>
        <p>
            Help clean and improve public spaces.
        </p>
    </div>

    <div class="card">
        <h3>Teaching Program</h3>
        <p>
            Support educational opportunities for students.
        </p>
    </div>

</section>

<%- include('partials/footer') %>